<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | DevOps Engineer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="hero">
        <div class="content">
            <h1>👋 Hi, I'm Deepak</h1>
            <p>A <strong>DevOps Engineer</strong> and to read my blogs click below.</p>
            <a href="https://blogs.opsflow.in" target="_blank" class="button">Read My Blogs</a>
        </div>
    </div>
</body>
</html>
